body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.title1 {
    font-size: 48px;
    color: greenyellow;
    text-align: center;
}

.naam, .club, .leeftijd, .nationaliteit, .salaris {
    font-size: 32px;
    
}

tr >  {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 1%;
    font-size: 18px;
}
